{% extends "_master.html" %}
{% load widget_tweaks static i18n %}

{% block title %}{% trans "ورود کاربران" %}{% endblock title %}

{% block contents %}
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>{% trans "ورود کاربران" %}</h2>
            <ul>
                <li><a href="{% url 'core:home' %}">{% trans "خانه" %}</a></li>
                <li>{% trans "ورود کاربران" %}</li>
            </ul>
        </div>
    </div>
</div>

<section class="login-area ptb-50">
    <div class="container">
        <div class="login-form">
            <h2>{% trans "ورود کاربران" %}</h2>

            <form method="post">
                {% csrf_token %}

                {% if messages %}
                    {% for item in messages %}
                        <p class="text-center text-success">{{ item }}</p>
                    {% endfor %}
                {% endif %}

                {% if form.non_field_errors %}
                    {% for item in form.non_field_errors %}
                        <p class="text-center text-danger">{{ item }}</p>
                    {% endfor %}
                {% endif %}

                <div class="form-group">
                    <label for="id_phone_number">{% trans "شماره موبایل" %}</label>
                    {{ form.phone_number }}
                    {{ form.phone_number.errors }}
                </div>

                <div class="form-group">
                    <label for="id_password">{% trans "گذرواژه" %}</label>
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>

                <div class="row align-items-center mb-3">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-check">
                            {{ form.remember_me }}
                            <label class="form-check-label" for="id_remember_me">{% trans "مرا بخاطر بسپار" %}</label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100">{% trans "ورود" %}</button>
            </form>

            <div class="important-text mt-3 text-center">
                <p>{% trans "حساب کاربری ندارید؟" %} <a href="{% url 'accounts:register' %}">{% trans "ثبت نام" %}</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock contents %}