{% extends "_master.html" %}
{% load static i18n %}

{% block contents %}
<section class="main-news-slider-area">
    <div class="container-fluid">
        <div class="main-news-slides owl-carousel owl-theme">
            {% for slide in sliders %}
                <div class="news-slider-item">
                    <a href="#"><img src="{{ slide.image.url }}" alt="{{ slide.title }}"></a>
                    <div class="slider-content">
                        <h3><a href="{{slide.link}}">{{ slide.title }}</a></h3>
                        <span><a href=""></a> / {{slide.jcreated_at}}</span>
                    </div>
                </div>
            {% empty %}
                <p>{% trans "هیچ اسلاید فعالی وجود ندارد." %}</p>
            {% endfor %}
        </div>
    </div>
</section>

<section class="default-news-area">
    <div class="container">
        <div class="most-popular-news">
            <div class="section-title">
                <h2>{% trans "جدیدترین مقالات" %}</h2>
            </div>
            <div class="row">
                {% for article in latest_articles %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-most-popular-news">
                        <div class="popular-news-image">
                            <a href="{{ article.get_absolute_url }}">
                                {% if article.image %}
                                    <img src="{{ article.image.url }}" alt="{{ article.title }}">
                                {% else %}
                                    <img src="{% static 'img/most-popular/default.jpg' %}" alt="{{ article.title }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="popular-news-content">
                            <span>{{ article.category.title }}</span>
                            <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
                            <p><a href="#">{{ article.author.get_full_name }}</a> / {{ article.jcreated_at }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="culture-news">
            <div class="row">
                <section class="about-area ptb-50">
                    <div class="container">
                        <div class="about-image">
                            <img src="{{site_settings.about_img.url}}" alt="image">
                        </div>
                        <div class="about-content">
                            <h3>{% trans "معرفی اتاق ایران و ژاپن :" %}</h3>
                            <p>{{ site_settings.about_text|default:_("متن درباره سایت وجود ندارد.")|linebreaks|safe }}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="video-news">
                <div class="section-title">
                    <h2>{% trans "تبلیغات" %}</h2>
                </div>
                <div class="video-slides owl-carousel owl-theme owl-rtl">
                    {% for ad in advertisement_settings %}
                    <div class="video-item">
                        <div class="video-news-image">
                            {% if ad.image %}
                                <img src="{{ ad.image.url }}" alt="{{ ad.title }}">
                            {% else %}
                                <img src="{% static 'img/video-news/default.jpg' %}" alt="{% trans 'ویدئو' %}">
                            {% endif %}
                        </div>
                        <div class="video-news-content">
                            <h3><a href="#">{{ ad.title }}</a></h3>
                            <span>{{ ad.jcreated_at|date:"j F Y" }}</span>
                        </div>
                    </div>
                    {% empty %}
                    <p>{% trans "هیچ تبلیغ فعالی وجود ندارد." %}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contents %}